<nav id="nav">
  <img src="img/logo/DSK-JF-light-logo.png" alt="DSK-JF-Logo" />
  <div class="navigation">
    <ul id="ul">
      <i id="menu-close" class="fas fa-times"></i>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="#">Courses</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#" class="log">Sign in</a></li>
    </ul>
    <i id="menu-btn" class="fa-solid fa-bars"></i>
  </div>
</nav>
