@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Poppins&family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  border: none;
}
body {
  background: #f8f8f8;
}

/* Start nav */

.container {
  display: flex;
}

nav {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #2a01bd;
  width: 25%;
  overflow: hidden;
  box-shadow: 0 20px 20px rgb(193, 190, 255);
}
.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 0;
}
.logo img {
  width: 120px;
}
.logo span {
  font-weight: bold;
  padding-top: 15%;
  font-size: 18px;
  text-transform: uppercase;
}

a {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav a i {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover {
  background: #23005a;
  border-radius: 8px;
  color: #ffffff;
  width: 100%;
}

nav a.active {
  background: #ffffff;
  border-radius: 8px;
  color: #000;
  padding-bottom: 12px;
  width: 100%;
  height: 100%;
}

.logout {
  position: absolute;
  bottom: 35px;
}

/* end nav */

/* start main messages*/
.main {
  position: relative;
  padding: 20px;
  width: 100%;
}
.main-top {
  display: flex;
  width: 100%;
}
.main-top i {
  position: absolute;
  right: 0;
  margin: 40px 30px;
  color: rgb(11, 109, 109);
  cursor: pointer;
}

.main-courses {
  display: flex;
  margin-top: 20px;
}
.main h1 {
  display: flex;
  margin: 30px 0 0 20px;
}

.main-courses .card {
  width: 20%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 20px 10px 10px 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.main-courses .card h3 {
  margin: 50px 10px 10px 10px;
  text-transform: capitalize;
  color: #3e0071;
}

.main-courses .card p {
  font-size: 12px;
  margin: 10px;
}

.main-courses .card button {
  background: #2e01d2;
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.main-courses .card button:hover {
  background: rgba(57, 15, 223, 0.856);
}
.main-courses .card i {
  font-size: 22px;
  padding: 10px;
}
/* end main messages  */

/* start aside deadlines */
.main-aside {
  position: relative;
  margin-left: 50px;
  width: 40%;
  float: right;
  top: 0;
  right: 0;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  /* height: 80vh;   */
}

.aside-top {
  display: flex;
  width: 40%;
}
.main-aside .aside-top h1 {
  margin: 20px 0 0 150px;
  width: 100%;
  font-size: large;
}

.aside-deadlines {
  display: flex;
  margin-top: 20px;
}
.aside-deadlines .card {
  width: 100%;
  margin: 30px 10px 10px 10px;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.aside-deadlines .card h3 {
  margin: 10px;
  text-transform: capitalize;
}

.aside-deadlines .card p {
  font-size: 12px;
}

.aside-deadlines .card .See-more {
  background: rgb(237, 0, 202);
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.aside-deadlines .card .See-more:hover {
  background: rgba(134, 0, 160, 0.856);
}
.aside-deadlines .card .Reply {
  background: rgb(10, 194, 0);
  color: #fff;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}
.aside-deadlines .card .Reply:hover {
  background: rgba(0, 78, 36, 0.856);
}
/* end aside deadlines */

/* start main requests */
.main-aside-bottom {
  position: relative;
  margin: 55px 0 0 0;
  width: 36%;
  float: right;
  top: 0;
  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.aside-bottom {
  display: flex;
  width: 25%;
}
.main-aside-bottom .aside-bottom h1 {
  margin: 10px 0 0 10px;
}

.aside-requests {
  display: flex;
  margin-top: 20px;
}
.aside-requests .card {
  width: 100%;

  background: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.aside-requests .card h3 {
  margin: 10px;
  text-transform: capitalize;
}

.aside-requests .card p {
  font-size: 12px;
}

.aside-requests .card button:hover {
  background: rgba(223, 70, 15, 0.856);
}
/* end aside deadlines */
