@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Poppins&family=Quicksand&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
}

body{
    background: #dcdce6;
    background-image: url('./assets/Background.png');
}